In [1]:
import pandas as pd

In [2]:
first = pd.read_csv("./india_corrected_57k-60k.csv")
first.drop(columns = "Unnamed: 0", inplace = True)

In [3]:
first

                                                      0
0     If, I, become, anti, -, vaccine, ,, blame, the...
1                      salary, is, anti, dream, vaccine
2     one, has, wait, twentynine, days, after, and, ...
3     ", no, van, passports, i, anti, -, vaccine, pr...
4        anti, -, vaccine, protests, held, santa, fe, i
...                                                 ...
2995  this, vaccines, are, hundred_points, percent, ...
2996  world, health, organization, representative, i...
2997  chinese, vaccine, is, more, effective, ., is, ...
2998  based, what, #, who, knows, so, far, as, per, ...
2999  but, their, vaccines, are, not, effective, bas...

[3000 rows x 1 columns]

In [4]:
second = pd.read_csv("./india_corrected_60k-63k.csv")
second.drop(columns = "Unnamed: 0", inplace = True)
second

                                                      0
0     once, you, replace, negative, thoughts, with, ...
1     vaccine, is, not, available, plenty, ,, taking...
2     what, is, there, even, have, dialog, honestly,...
3     #, just, take, precautions, always, ,, what, t...
4     once, you, replace, negative, thoughts, with, ...
...                                                 ...
2995  mohamed, admin, ali, says, his, ministry, take...
2996  from, the, urging, of, people, amid, booster, ...
2997  #, breaking, religious, institutions, #, bhuba...
2998  dear, sir, ,, we, would, like, inform, you, th...
2999  let, us, put, stop, #, covid19, by, :, black_s...

[3000 rows x 1 columns]

In [5]:
third = pd.read_csv("./india_corrected_63k-66k.csv")
third.drop(columns = "Unnamed: 0", inplace = True)
third

                                                      0
0     what, scam, as, today, date, eight, /, two, /,...
1     all, religious, institutions, reopen, #, bhuba...
2     i, have, also, blogged, about, tripurari, poor...
3     beautiful, lambs, beautiful, #, islamabad, ., ...
4                   such, kawa, hot, hai, smirking_face
...                                                 ...
2995    atleast, than, whether, people, get, vaccinated
2996  honorable, chief, minister, sir, plus, do, rec...
2997  we, simply, cannot, stop, infection, due, airb...
2998  how, about, anti, vaccine, vaccinated, club, g...
2999  refusing, get, vaccinated, you, got, to, be, k...

[3000 rows x 1 columns]

In [6]:
fourth = pd.read_csv("./india_corrected_66k-69k.csv")
fourth.drop(columns = "Unnamed: 0", inplace = True)
fourth

                                                      0
0     india, all, other, counties, shud, quickly, st...
1     finally, fully, vaccinated, ., #, covid19, #, ...
2     glad, that, #, kamalhaasan, has, been, fully, ...
3     kamal, hassan, tested, couid, positive, after,...
4     not, everyone, is, vaccinated, ,, not, every, ...
...                                                 ...
2995  #, vaccinated_covid_19, i, and, i, dose, #, co...
2996  yes, i, if, not, after, fourteen, days, he, is...
2997  saya, sudah, update, ., relieved_face, malangn...
2998  now, that, travel, is, resuming, ,, this, is, ...
2999  sir, i, have, tried, see, notification, relaxi...

[3000 rows x 1 columns]

In [7]:
fifth = pd.read_csv("./india_corrected_69k-72k.csv")
fifth.drop(columns = "Unnamed: 0", inplace = True)
fifth

                                                      0
0     hello, plant, people, we, i, re, happy, announ...
1     if, that, is, so, ,, that, needs, picked, up, ...
2     after, fourteen, days, just, fully, vaccinated, i
3     doe, origin, ., I, do, not, have, it, fully, v...
4          fully, vaccinated, blue_heart, #, vaccinated
...                                                 ...
2995  even, after, double, vaccination, we, should, ...
2996  first, dose, doneflexed_bicepsmedium, -, dark_...
2997  finally, vaccinated, smiling_face_with_heart, ...
2998  kilo, ren, fully, vaccinated, #, sinovac, #, a...
2999  our, team, clients, safety, is, our, priority,...

[3000 rows x 1 columns]

In [8]:
sixth = pd.read_csv("./india_corrected_72k-76k.csv")
sixth.drop(columns = "Unnamed: 0", inplace = True)
sixth

                                                      0
0     visited, converted, twelve, mobile, hospitals,...
1     hi, ,, I, am, indian, passport, holder, with, ...
2     hi, ,, I, am, indian, passport, holder, with, ...
3     what, about, those, are, vaccinated, use, stra...
4     get, vaccinated, everyone, #, igotmyshot, #, v...
...                                                 ...
3995  I, am, done, first, dosesign_of_the_hornslight...
3996  yes, i, guess, ., cuz, despite, we, are, fully...
3997  uk, fifty, %, vaccinated, i, he, twenty-three,...
3998  alhamdulilah, wan, vaccinated, his, est, dose,...
3999  you, we, are, purported, supporter, social, ca...

[4000 rows x 1 columns]

In [9]:
frames = [first, second, third, fourth, fifth, sixth]
result = pd.concat(frames)
result

                                                      0
0     If, I, become, anti, -, vaccine, ,, blame, the...
1                      salary, is, anti, dream, vaccine
2     one, has, wait, twentynine, days, after, and, ...
3     ", no, van, passports, i, anti, -, vaccine, pr...
4        anti, -, vaccine, protests, held, santa, fe, i
...                                                 ...
3995  I, am, done, first, dosesign_of_the_hornslight...
3996  yes, i, guess, ., cuz, despite, we, are, fully...
3997  uk, fifty, %, vaccinated, i, he, twenty-three,...
3998  alhamdulilah, wan, vaccinated, his, est, dose,...
3999  you, we, are, purported, supporter, social, ca...

[19000 rows x 1 columns]

In [10]:
result.to_csv('india_compiled_57_76k.csv', index=False)