In [12]:
import pandas as pd

In [13]:
import os
import pandas as pd

masterdf = pd.DataFrame()

for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        masterdf = masterdf.append(pd.read_csv(file))

masterdf.to_csv('usa-corrected-82000-162000.csv')

In [15]:
df = pd.read_csv("usa-corrected-82000-162000.csv")
df.head()

   Unnamed: 0  Unnamed: 0.1                                                  0
0           0             0  this, was, response, post, praising, pfizer, v...
1           1             1  They, ', re, going, to, put, Pfizer, on, you, ...
2           2             2  after, may, and, pfizer, van, six, days, id, b...
3           3             3  cher, i, got, my, second, pfizer, vaccine, sho...
4           4             4                           that, ', i, with, pfizer

In [48]:
df[75000:]

,Unnamed: 0,Unnamed: 0.1,0
75000,0,75000,"i, endorse, water, recommendation, ., modern, ..."
75001,1,75001,"finally, i, got, first, one, tuesday, modernag..."
75002,2,75002,"this, is, how, i, feel, after, my, first, mode..."
75003,3,75003,"ok, ,, confirmed, modern, shot, #, two, feels,..."
75004,4,75004,"and, modern, shot, does, indeed, have, hands"
...,...,...,...
79995,4995,79995,"why, this, modern, got, me, feeling, stoned"
79996,4996,79996,"which, van, the, ., get, my, two, friday, ., m..."
79997,4997,79997,"congratulations, i, had, modern, vaccine, ;, s..."
79998,4998,79998,"modern, shot, one, gave, me, drew, trees, arm,..."
79999,4999,79999,"adrenaline, response, modern, shot, is, no, jo..."

In [49]:
test_df = pd.read_csv("corrected-157000-162000.csv")
test_df.head()

   Unnamed: 0                                                  0
0       75000  i, endorse, water, recommendation, ., modern, ...
1       75001  finally, i, got, first, one, tuesday, modernag...
2       75002  this, is, how, i, feel, after, my, first, mode...
3       75003  ok, ,, confirmed, modern, shot, #, two, feels,...
4       75004       and, modern, shot, does, indeed, have, hands

In [25]:
df

       Unnamed: 0                                                  0
0               0  cac, says, twenty-eight, blood, clot, cases, ,...
1               1  biden, urges, parents, get, kids, vaccinated, ...
2               2  u, ., i, ., cac, panel, backs, couid, -, ninet...
3               3  cac, panel, endorses, pfizer, ', i, couid, vac...
4               4  we, should, train, amazon, delivery, guys, giv...
...           ...                                                ...
18995        2995  now, reportedly, more, than, five hundred, dos...
18996        2996  i, hope, am, gives, update, #, vaccine, procur...
18997        2997  I, have, taken, first, dose, couid, -, ninetee...
18998        2998  doctors, duty, &, amp, ;, #, couid, patients, ...
18999        2999  infectious, diseases, expert, david, lye, call...

[19000 rows x 2 columns]

In [3]:
df.describe()

           review_id
count  224819.000000
mean    40249.121827
std     23157.562754
min         0.000000
25%     20225.500000
50%     40359.000000
75%     59894.500000
max     81040.000000

In [6]:
df['subcategory'].value_counts()

meat                         71818
chocolate                    33753
cheese                       28892
mylk                         21899
ice cream                    20565
yogurt                       15879
moisturizers                 10278
cleansers, scrubs & masks     9446
seafood                       5129
eggs                          3747
face                          3413
Name: subcategory, dtype: int64

In [9]:
sample_df = df.sample(n = 75000, random_state = 99)

In [10]:
sample_df

,review_id,brand_category,category,subcategory,text,rating,product_name,brand_name,hashtags_removed,languages,new_text,new_languages,sentences_list
196075,72217,food,"alternative eggs, meat & seafood",meat,This is also very tasty and I like the juxtapo...,"{'taste': 5, 'presentation': 5, 'nutrition': 5...",sweet paprika & chille extra fim tofu,tofuud,This is also very tasty and I like the juxtapo...,ENGLISH,This is also very tasty and I like the juxtapo...,ENGLISH,Works well.
20850,15382,food,frozen,ice cream,"Was on deal for Â£2 at Holland and Barrett, it'...","{'taste': 5, 'presentation': 5, 'nutrition': 4...",chocolate salted caramel,booja-booja,"Was on deal for Â£2 at Holland and Barrett, it'...",ENGLISH,"Was on deal for Â£2 at Holland and Barrett, it ...",ENGLISH,Eating it all in one
211824,78104,food,"alternative eggs, meat & seafood",seafood,Would recommend to best friend. \r\n\r\nLike t...,"{'taste': 4, 'originality': 4, 'presentation':...",2 thai style fishless cakes,asda plant based,Would recommend to best friend. Like the mushy...,ENGLISH,Would recommend to best friend. Like the mushy...,ENGLISH,Would recommend to best friend.
173395,63562,food,dairy alternatives,cheese,This product is very nice. It's good on just a...,"{'taste': 5, 'presentation': 5, 'nutrition': 5...",garlic & herb affair,wildwestland,This product is very nice. It's good on just a...,ENGLISH,This product is very nice. It is good on just ...,ENGLISH,"It is good on just a slice of bread, but this ..."
65844,29844,food,snacks,chocolate,These are UNREAL â€¦ haha ! Seriously these are...,"{'taste': 5, 'presentation': 5, 'nutrition': 5...",dark chocolate peanut butter cups,unreal,These are UNREAL â€¦ haha ! Seriously these are ...,ENGLISH,These are UNREAL â€¦ haha ! Seriously these are ...,ENGLISH,I love that they are individually packaged.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165600,60788,food,"alternative eggs, meat & seafood",meat,"ðŸ‡¨ðŸ‡µ Nouveau produit, nouvelle dÃ©couverte !! Kok...","{'taste': 5, 'originality': 5, 'presentation':...",veg-picnic,kokiriki,"ðŸ‡¨ðŸ‡µ Nouveau produit, nouvelle dÃ©couverte !! Kok...","FRENCH, Unknown, ENGLISH","United_Kingdom New product, new discovery!! Ko...",ENGLISH,"Usually, what recalls in memories of what I at..."
107650,42579,health and beauty,body & skincare,moisturizers,This is very good for soothing burns and aller...,{'overall': 5},soothing canna oil balm,fun and vital,This is very good for soothing burns and aller...,ENGLISH,This is very good for soothing burns and aller...,ENGLISH,This is very good for soothing burns and aller...
222896,80294,food,dairy alternatives,cheese,"looks like a package of sweaty bologna, but is...","{'taste': 4, 'originality': 5, 'presentation':...",smoked english farmhouse style,miyoko's creamery,"looks like a package of sweaty bologna, but is...",ENGLISH,"looks like a package of sweaty bologna, but is...",ENGLISH,9090 challenge 73
5556,10006,food,snacks,chocolate,If youâ€™ve missed mini eggs then youâ€™re in luck...,"{'taste': 5, 'presentation': 5, 'nutrition': 3...",doisy & dam good eggs,doisy & dam,If youâ€™ve missed mini eggs then youâ€™re in luck...,ENGLISH,If youâ€™ve missed mini eggs then youâ€™re in luck...,ENGLISH,Just with dark chocolate instead of milk.
120710,47215,food,dairy alternatives,cheese,now this is one item you can slip in to omni f...,"{'taste': 5, 'presentation': 5, 'nutrition': 4...",nurishh plant based alternative to camembert,nurishh,now this is one item you can slip in to omni f...,ENGLISH,now this is one item you can slip in to omni f...,ENGLISH,now this is one item you can slip in to omni f...

In [11]:
sample_df['subcategory'].value_counts()

meat                         23938
chocolate                    11175
cheese                        9631
mylk                          7316
ice cream                     6932
yogurt                        5262
moisturizers                  3443
cleansers, scrubs & masks     3111
seafood                       1760
eggs                          1270
face                          1162
Name: subcategory, dtype: int64

In [12]:
sample_df.to_csv('sentences_sample_data.csv', index = False)