In [1]:
import pandas as pd

In [2]:
first = pd.read_csv("./usa_corrected_242k-247k.csv")
first.drop(columns = "Unnamed: 0", inplace = True)

In [3]:
first

                                                      0
0     also, ,, like, not, get, morbid, here, ,, but,...
1     couid, has, gotten, so, bad, that, someone, is...
2     wake, up, everyone, ..., do, you, see, what, '...
3     along, with, anyone, who, is, immunocompromise...
4     living, with, crown, i, i, disease, can, be, s...
...                                                 ...
4995  he, never, did, anything, with, any, his, pare...
4996  that, wearing, mask, walk, over, my, table, on...
4997  many, years, ago, ,, my, family, had, outbreak...
4998  family, did, ., i, had, bad, digestion, &, amp...
4999  vaccine, mandates, are, provincial, ,, not, fe...

[5000 rows x 1 columns]

In [4]:
second = pd.read_csv("./usa_corrected_247k-252k.csv")
second.drop(columns = "Unnamed: 0", inplace = True)
second

                                                      0
0     dont, think, it, will, sink, pro, vaxxunamused...
1     yep, ,, i, felt, bit, crappy, after, the, shin...
2     so, majority, will, never, be, correct, prophe...
3     many, us, took, vaccine, because, we, had, no,...
4     because, we, were, misled, ., vaccine, was, ne...
...                                                 ...
4995  give, me, vaccine, i, i, i, not, taking, no, d...
4996  i, i, i, one, them, that, can, &, amp, ;, will...
4997  y, i, all, look, up, largest, criminal, fine, ...
4998  let, #, darwin, take, over, i, if, you, don, i...
4999  if, you, are, buying, couid, medicine, at, fee...

[5000 rows x 1 columns]

In [5]:
third = pd.read_csv("./usa_corrected_252k-257k.csv")
third.drop(columns = "Unnamed: 0", inplace = True)
third

                                                      0
0     i, would, trust, equine, grade, ivermectin, mo...
1     conspiracy, alert, police_car_light, there, is...
2                       do, we, trust, vaccine, or, not
3     i, i, ve, heard, so, many, stories, this, week...
4     i, i, all, trust, vaccine, before, i, put, my,...
...                                                 ...
4995  if, communist, party, canada, wasnt, selling, ...
4996  again, ,, two, %, vaccinated, ,, four, %, with...
4997                isn, ', i, ben, simmons, vaccinated
4998  couid, continued, spread, amongst, vaccinated,...
4999  yet, ,, ninety-nine, %, hospitalizations, are,...

[5000 rows x 1 columns]

In [6]:
fourth = pd.read_csv("./usa_corrected_257k-262k.csv")
fourth.drop(columns = "Unnamed: 0", inplace = True)
fourth

                                                      0
0     it, ', i, wild, that, couid, has, killed, eigh...
1     remember, when, kyrie, being, vaccinated, made...
2     please, show, me, where, i, said, all, republi...
3     this, is, what, someone, does, when, they, kno...
4       it, i, i, basically, bunch, vaccinated, whiners
...                                                 ...
4995  i, made, it, two, years, too, i, just, tested,...
4996  sunk, edmund, fitzgerald, water_wavepassenger_...
4997  we, could, have, vaccinated, healthcare, worke...
4998  since, you, still, want, vaccinated, individua...
4999  also, vaccinated, people, can, just, get, vacc...

[5000 rows x 1 columns]

In [7]:
fifth = pd.read_csv("./usa_corrected_262k-267k.csv")
fifth.drop(columns = "Unnamed: 0", inplace = True)
fifth

                                                      0
0     add, this, my, brother, has, tested, positive,...
1     looks, like, you, have, not, gotten, rather, i...
2     they, include, unknown, partially, vaccinated,...
3     biden, :, ", it, ', i, pandemic, vaccinated, "...
4     yes, ,, but, very, ,, very, few, are, hospital...
...                                                 ...
4995  i, say, this, was, very, pro, -, vaccine, pers...
4996  we, cannot, ignore, that, eighty, %, populatio...
4997  couid, -, nineteen, their, vaccinated, counter...
4998  that, doesn, ', i, change, fact, that, vaccina...
4999  but, if, you, i, re, vaccinated, ,, you, i, ve...

[5000 rows x 1 columns]

In [8]:
sixth = pd.read_csv("./usa_corrected_267k-272k.csv")
sixth.drop(columns = "Unnamed: 0", inplace = True)
sixth

                                                      0
0     um, ,, but, ", vaccines, ", don, ', i, stop, i...
1     nope, ., as, at, -, risk, part, population, ,,...
2                   vaccinated, or, boosted, are, masks
3     what, lovely, person, ,, not, james, camille, ...
4     new, :, ca, i, i, case, rate, has, decreased, ...
...                                                 ...
4995  hahaha, what, state, are, you, i, can, send, y...
4996  i, strongly, believe, that, is, only, by, true...
4997  uh, ,, you, just, made, that, up, ., where, ar...
4998  fighting, stigma, :, ', it, ', i, them, i, hea...
4999  we, shouldn, ', i, be, able, sue, over, our, n...

[5000 rows x 1 columns]

In [9]:
seventh = pd.read_csv("./usa_corrected_272k-277k.csv")
seventh.drop(columns = "Unnamed: 0", inplace = True)
seventh

                                                      0
0     i, i, i, so, confused, i, i, see, restaurants,...
1     i, the, thirty-eight, -, year, -, old, fairhav...
2     hardly, anyone, was, vaccinated, february, two...
3     research, does, fall, line, with, small, clust...
4     hatred, comes, both, sides, ., vaccinated, are...
...                                                 ...
4995  great, decision, but, not, likely, happen, fox...
4996  it, i, i, not, that, we, i, re, asking, trump,...
4997  people, who, believe, vaccinated, threaten, th...
4998  i, couldn, ', i, agree, more, enough, kid, glo...
4999  we, need, do, everything, possible, combat, su...

[5000 rows x 1 columns]

In [10]:
eighth = pd.read_csv("./usa_corrected_277k-282k.csv")
eighth.drop(columns = "Unnamed: 0", inplace = True)
eighth

                                                      0
0     our, state, has, some, highest, case, rates, n...
1     it, feels, extra, twisted, when, we, can, i, i...
2     you, poor, thing, that, you, don, i, i, know, ...
3     200k, deaths, couid, last, six, months, were, ...
4     but, also, probably, more, getting, it, since,...
...                                                 ...
4995  it, i, i, global, pandemic, ., yes, ,, willing...
4996  u, ., i, ., will, face, many, more, variants, ...
4997  whether, we, wanted, it, or, not, #, omicron, ...
4998  there, are, already, #, omicron, cases, here, ...
4999  subpar, vaccine, one, with, ninety, %, plus, e...

[5000 rows x 1 columns]

In [11]:
ninth = pd.read_csv("./usa_corrected_282k-287k.csv")
ninth.drop(columns = "Unnamed: 0", inplace = True)
ninth

                                                      0
0     while, global, press, demonize, one, part, wor...
1     where, are, you, getting, your, ridiculous, in...
2     nothing, as, it, is, waste, time, ., that, sai...
3     million, like, me, ., austria, is, locking, do...
4     i, i, i, predicting, it, i, i, matter, time, u...
...                                                 ...
4995  it, i, i, about, making, choice, your, body, y...
4996  ", vaccines, work, :, ninety-seven, %, couid, ...
4997  maybe, they, can, start, their, own, vaccinate...
4998  i, ', i, certain, you, spelled, vaccinated, wr...
4999  these, folks, are, celebrating, kyrie, being, ...

[5000 rows x 1 columns]

In [12]:
tenth = pd.read_csv("./usa_corrected_287k-292k.csv")
tenth.drop(columns = "Unnamed: 0", inplace = True)
tenth

                                                      0
0     it, ', i, because, all, vaccinated, once, they...
1     unfortunate, part, about, all, this, is, that,...
2     you, i, ', i, dumbass, tell, me, how, you, can...
3     our, icu, ,, ninety-eight, %, of, patients, ve...
4     you, say, as, you, welcome, vaccinated, immigr...
...                                                 ...
4995  got, banned, i, /, politics, trying, argue, th...
4996  i, hope, vaccinated, people, will, see, this, ...
4997  if, vaccinated, people, can, still, get, couid...
4998  vaccinated, people, have, avoid, vaccinated, p...
4999  ", a, quick, pandemic, i, lol, scenario, that,...

[5000 rows x 1 columns]

In [13]:
eleventh = pd.read_csv("./usa_corrected_292k-297k.csv")
eleventh.drop(columns = "Unnamed: 0", inplace = True)
eleventh

                                                      0
0     are, there, any, teamsters, out, that, work, l...
1     now, that, vaccinated, supporters, are, allowe...
2     as, conservative, ,, i, don, i, i, love, idea,...
3     if, left, had, their, way, ,, no, vaccinated, ...
4     dude, ,, vaccinated, spread, virus, just, as, ...
...                                                 ...
4995                                      vaccinated, i
4996  clarify, ., only, vaccinated, as, pointed, out...
4997  vaccinated, are, causing, delays, lifesaving, ...
4998  everything, getting, blamed, vaccinated, which...
4999  wait, till, she, finds, out, waves, aren, ', i...

[5000 rows x 1 columns]

In [14]:
twelfth = pd.read_csv("./usa_corrected_297k-302k.csv")
twelfth.drop(columns = "Unnamed: 0", inplace = True)
twelfth

                                                      0
0               no, i, keep, vaccinated, off, planes, .
1     i, lived, shasta, year, ,, i, ', i, bet, farm,...
2     stop, just, listening, big, pharma, paid, reso...
3     hearing, that, public, health, is, not, too, c...
4     great, i, but, vaccinated, should, not, be, al...
...                                                 ...
4995  women, have, questions, about, vaccine, pregna...
4996  at, times, ,, judge, pardon, seemed, skeptical...
4997  appears, next, step, pandemic, journey, will, ...
4998  i, i, i, park, now, ., so, good, be, riding, a...
4999  it, doesn, ', i, bother, me, even, if, they, a...

[5000 rows x 1 columns]

In [15]:
thirteenth = pd.read_csv("./usa_corrected_302k-307k.csv")
thirteenth.drop(columns = "Unnamed: 0", inplace = True)
thirteenth

                                                      0
0     truth, is, #, vaccinated, #, antivaxxers, #, a...
1     everyone, fears, that, but, who, ', i, say, va...
2     not, be, case, how, ninety, %, hospitalized, s...
3     there, is, no, taking, sides, here, governor, ...
4     it, ', i, vaccinated, now, that, have, all, re...
...                                                 ...
4995  it, ', i, time, vaccination, passports, mandat...
4996  mexico, is, its, way, too, ,, this, will, affe...
4997  vaccinated, americans, are, choosing, let, vir...
4998  glad, your, feeling, better, ., if, only, we, ...
4999  i, we, spoke, with, some, vaccinated, american...

[5000 rows x 1 columns]

In [16]:
fourteenth = pd.read_csv("./usa_corrected_307k-312k.csv")
fourteenth.drop(columns = "Unnamed: 0", inplace = True)
fourteenth

                                                      0
0     vaccine, is, tool, used, enable, us, lives, he...
1     i, thought, when, this, pandemic, began, that,...
2     i, i, i, glad, i, ordered, bunch, good, masks,...
3     go, watch, videos, vaccinated, people, wishing...
4     while, ", breakthrough, cases, ", have, been, ...
...                                                 ...
4995  upside, some, vaccinated, are, gonna, see, thi...
4996  masks, back, philly, health, officials, are, a...
4997  jak, said, ,, ask, not, what, your, country, c...
4998  not, punitive, way, ,, just, make, it, impossi...
4999  i, hope, health, insurance, industry, raises, ...

[5000 rows x 1 columns]

In [17]:
fifteenth = pd.read_csv("./usa_corrected_312k-317k.csv")
fifteenth.drop(columns = "Unnamed: 0", inplace = True)
fifteenth

                                                      0
0     only, time, i, have, ever, been, asked, show, ...
1     ced, i, the, vaccinated, cannot, penalize, tho...
2     vaccine, is, only, way, stop, spread, ,, data,...
3     thank, you, all, that, thoughtful, piece, dive...
4     ifl, new, rule, about, couid, -, nineteen, vac...
...                                                 ...
4995  pandemic, still, rages, areas, without, vaccin...
4996  headline, screams, duuuuuh, nba, news, :, virt...
4997  vaccinated, children, :, ", in, our, local, ho...
4998  data, us, suggests, virtually, all, hospitaliz...
4999  these, yahoos, have, right, decline, but, …………...

[5000 rows x 1 columns]

In [18]:
sixteenth = pd.read_csv("./usa_corrected_317k-322k.csv")
sixteenth.drop(columns = "Unnamed: 0", inplace = True)
sixteenth

                                                      0
0     large, international, contingent, vaccinated, ...
1     i, really, be, out, here, raw, dogging, full, ...
2     i, still, have, vaccinated, kid, at, home, so,...
3     vaccinated, can, breathe, without, vaccine, ,,...
4         one hundred, %, vaccinated, primates, be, bad
...                                                 ...
4995  i, know, healthy, man, who, was, not, vaccinat...
4996  no, ,, if, they, don, i, i, like, it, they, ca...
4997  there, are, documented, cases, but, not, sure,...
4998                                               gone
4999  him, ., this, sounds, bit, familiar, ., you, s...

[5000 rows x 1 columns]

In [19]:
frames = [first, second, third, fourth, fifth, sixth, seventh, eighth, ninth, tenth, eleventh, twelfth, thirteenth, fourteenth, fifteenth, sixteenth]
result = pd.concat(frames)
result

                                                      0
0     also, ,, like, not, get, morbid, here, ,, but,...
1     couid, has, gotten, so, bad, that, someone, is...
2     wake, up, everyone, ..., do, you, see, what, '...
3     along, with, anyone, who, is, immunocompromise...
4     living, with, crown, i, i, disease, can, be, s...
...                                                 ...
4995  i, know, healthy, man, who, was, not, vaccinat...
4996  no, ,, if, they, don, i, i, like, it, they, ca...
4997  there, are, documented, cases, but, not, sure,...
4998                                               gone
4999  him, ., this, sounds, bit, familiar, ., you, s...

[80000 rows x 1 columns]

In [20]:
result.to_csv('usa_compiled_242_322k.csv', index=False)