In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("rachel-india-compiled.csv")

In [4]:
df.drop_duplicates(keep='first', inplace=True)

In [5]:
df

       Unnamed: 0                                                  0
0           76000  it, is, suggestions, sir, increase, vaccinatio...
1           76001  ok, ,, i, rest, my, case, here, ., people, see...
2           76002                   vaccinated, heart_exclamation, i
3           76003  I, have, been, vaccinated, ten, may, ,, two th...
4           76004  we, are, ready, serve, you, safeway, ,, becaus...
...           ...                                                ...
19183       95183  mask, up, face_with_medical_mask, india, India...
19184       95184  our, sincere, request, state, central, govt, f...
19185       95185  thanks, your, appreciation, valuable, feedback...
19186       95186  i, can, i, i, wait, get, my, and, dose, #, cov...
19187       95187  thanks, your, appreciation, valuable, feedback...

[19188 rows x 2 columns]