snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [2]:
# Creating list to append tweet data to
tweets_list = []

# search terms
search_terms = 'circuit breaker'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-04-07 until:2020-05-07 near:"Singapore" within:10km').get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Text'])

In [3]:
tweets_df

                                                   Text
0     Happy Vesak Day 2020\n\n#vesakday2020\n#卫塞节\n#...
1     Mee Siam. Chinese mee siam has always appeal t...
2     Did 10KM in 1 hr 29 mins. 5 KM in 40 mins. No ...
3     Dinner on day 30 of the Singapore Circuit Brea...
4     Day 30 of #circuitbreaker. Yang duk kata nak l...
...                                                 ...
1415  Circuit Breaking measures from 07 April 2020\n...
1416  Good morning and happy #CIRCUITBREAKER day 1 ....
1417  Good morning. Day 1.. Stay home everyone.. Maj...
1418  SG 's firstday of COVID-19 Circuit breaker mea...
1419             Good morning! Day 1 of #CIRCUITBREAKER

[1420 rows x 1 columns]

In [4]:
tweets_df.to_csv("lockdown_sg_circuit_breaker.csv")