snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [5]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'covid vaccine'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-12-01 until:2022-02-11 near:"India" within:1000km').get_items()):
    if i > 100000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username',])

In [6]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-02-10 23:54:03+00:00,1491923447760691201,India's first mRNA Covid vaccine enters final ...,dellyranksindia
1,2022-02-10 23:50:12+00:00,1491922481812316160,ðŸ’‰ About sixteen million (77%) Sri Lankans have...,COVID19_SL
2,2022-02-10 23:50:01+00:00,1491922432000724993,"Womanâ€™s Autopsy, Obituary Blame Modernaâ€™s Covi...",treego14
3,2022-02-10 23:36:49+00:00,1491919111756173314,Indiaâ€™s first mRNA COVID-19 vaccine likely to ...,TheHinduScience
4,2022-02-10 23:35:06+00:00,1491918679784800277,Decision on third dose of COVID-19 vaccine for...,Thespuzz
...,...,...,...,...
28923,2020-12-01 03:26:43+00:00,1333613470298894341,"So, Vaccine approved?? #CovidVaccine https://t...",BaluMahe
28924,2020-12-01 03:08:21+00:00,1333608847773102080,Scientific Reasons behind many Indian Supersti...,SagarMovieFreak
28925,2020-12-01 01:35:54+00:00,1333585582010691589,Rujuk balik artikel @bernamadotcom. Emas diang...,AMUBAIDAHS
28926,2020-12-01 01:27:37+00:00,1333583497173237761,"Nothing can be 100% sure , not even whether yo...",soulful_saz
28927,2020-12-01 00:56:02+00:00,1333575548409405441,Pneumococcal Vaccine will be available in all ...,Azpapip

In [7]:
tweets_df2.to_csv("../data/India/vaccination/covid_vaccine.csv", index = False)