snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [20]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'curfew'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-01-01 until:2022-02-11 near:"Delhi" within:1000km').get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [21]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-02-10 21:25:15+00:00,1491886002998497280,Mother whose son was killed by illegal migrant...,Button19906164
1,2022-02-10 20:22:49+00:00,1491870288316755968,@UpYogiVikas Curfew lga h 11 to 5 üòê subah khul...,ThePerilousGirl
2,2022-02-10 20:15:02+00:00,1491868331892097025,Gujarat relaxes Covid-induced night curfew in ...,dellyranksindia
3,2022-02-10 19:49:03+00:00,1491861791617523715,Covid-19: Tripura government imposes night cur...,MarketsCafe
4,2022-02-10 19:09:22+00:00,1491851807387226120,Gujarat: Night Curfew Shortened in Eight Citie...,wrevoint
...,...,...,...,...
9996,2020-10-19 13:09:12+00:00,1318177380154798081,"Shops, groceries &amp; pharmacies in Quarantin...",AthaudaDasuni
9997,2020-10-18 17:12:03+00:00,1317876105710309377,"@imZahran Ha ha. From gliders, A380s to super ...",nazly
9998,2020-10-18 15:44:40+00:00,1317854116782108673,@nazly @DawnPDSi I‚Äôm using Prima to make dumpl...,Nancy_Chuang
9999,2020-10-17 07:48:57+00:00,1317372012382228482,"""Macron announces nightly curfew in major Fren...",Ankitsaraiya10
10000,2020-10-17 04:05:56+00:00,1317315887452487686,A curfew banning people from leaving home at n...,natcha_jong

In [22]:
tweets_df2.to_csv("../data/India/curfews/Delhi_Lockdown_Curfew.csv", index = False)