snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [11]:
# Creating list to append tweet data to
tweets_list = []

# search terms
search_terms = 'booster'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-04-07 until:2022-02-14 near:"Singapore" within:10km').get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Text'])

In [12]:
tweets_df

                                                   Text
0     Haritu pergi beli kuih sarapan, makcik penjual...
1     Getting booster on Valentine's Day!ü§™ the only ...
2     Booster shot later!!ü•≤...hope there's no side e...
3                i is nervous nk ambil booster rabu niü•≤
4     I tried being productive this weekend but this...
...                                                 ...
1462  A toast to everyone of you seeing this! May we...
1463  NAK AVOCADO HYDRA BOOSTER FREE JER?.\n.\n.\n.\...
1464  Happy Easter!\nThough we can't enjoy the grass...
1465                                    Mood booster ‚ù£Ô∏è
1466  Fave moment ytd when I finally caught @chetpor...

[1467 rows x 1 columns]

In [10]:
tweets_df.to_csv("../data/sg/living_in_an_endemic/booster.csv")