snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [2]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'vaccination'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-03-01 until:2022-02-11 near:"India" within:10000km').get_items()):
    if i > 20000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [3]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-02-10 23:51:11+00:00,1491922729250951169,@ManiSAiyarINC Soniya mummy hoti toh COVID me ...,Arya_AviJeet
1,2022-02-10 23:42:28+00:00,1491920533902049287,Rapid Vaccination A Shot In The Arm For Touris...,NelofarTach
2,2022-02-10 23:34:40+00:00,1491918569705119749,The online retailer attributed its policy upda...,krishna_eluri
3,2022-02-10 23:12:37+00:00,1491913021765029888,"@outofofficedaku Hi, as I live in china and I ...",natrajmachinery
4,2022-02-10 22:25:12+00:00,1491901090975350785,@roshanbegwani @theskindoctor13 @vijayanpinara...,Gorakh22
...,...,...,...,...
19996,2021-07-31 10:24:19+00:00,1421416426879991811,Update: 6 days after Comirnaty covid-19/20/21/...,PetriM
19997,2021-07-31 10:14:07+00:00,1421413861622644737,"Holding Twitter space with Dr Amandeep Kang, D...",Nainamishr94
19998,2021-07-31 10:05:47+00:00,1421411762969014275,Covid Vaccination is a global need and everyon...,advisorarvind
19999,2021-07-31 09:58:47+00:00,1421410000497307657,@MaxHealthcare @MoHFW_INDIA \n\n#Worst ever ma...,subho_trainer
20000,2021-07-31 09:46:14+00:00,1421406842836553729,@IncAyushKumar @ShilpiSinghINC Dirty Patra \nB...,Mahendr51390853

In [4]:
tweets_df2.to_csv("../data/India/relief measures/India_vaccination.csv", index = False)