snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [5]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'astrazeneca'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-12-01 until:2022-02-11 near:"London" within:1000km').get_items()):
    if i > 100000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username',])

In [6]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-02-10 23:49:11+00:00,1491922225041190913,If nothing else this programme on #astrazeneca...,hugx4pets
1,2022-02-10 23:38:27+00:00,1491919521472413696,$AZN #AstraZeneca PLC AstraZeneca - Q4’21 repo...,ResearchPool
2,2022-02-10 23:24:15+00:00,1491915950094004229,Just caught a tv program as to the Oxford “vac...,psychicsam
3,2022-02-10 23:24:03+00:00,1491915901339410432,"At 11:15pm BBC Two introduced ""AstraZeneca: A ...",tvhome
4,2022-02-10 23:01:29+00:00,1491910218971852804,European stocks struggle on mega earnings day ...,eurojournalENG
...,...,...,...,...
30790,2020-12-01 11:10:59+00:00,1333730305774149634,Will you be taking the new covid vaccine when ...,KushlasBySanaer
30791,2020-12-01 10:36:47+00:00,1333721702572953600,"NEW: Scandal-hit ""Oxford"" Coronavirus vaccine ...",afshinrattansi
30792,2020-12-01 10:33:23+00:00,1333720846364512257,@Juanjo_131994 Pues yo no tendría tanta prisa....,SarokII
30793,2020-12-01 08:38:57+00:00,1333692045202952197,We need to talk about the @AstraZeneca #logo. ...,thenicbartlett
30794,2020-12-01 07:04:49+00:00,1333668356256313351,@PressSec @realDonaldTrump The ingenuity is cl...,meehanpata

In [7]:
tweets_df2.to_csv("../data/UK/astrazeneca.csv", index = False)

In [19]:
tweets_list = []

# search terms
search_terms = 'oxford vaccine'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-12-01 until:2022-02-11 near:"London" within:100km').get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username',])

In [20]:
tweets_df

,Datetime,Tweet Id,Text,Username
0,2022-02-10 22:58:21+00:00,1491909433483534340,OXFORD BLUES. I'm having to deal with a challe...,YardleyShooting
1,2022-02-10 15:55:37+00:00,1491803046937980928,@KwasiKwarteng @UKAEAofficial If it ever comes...,gary_worden
2,2022-02-10 15:01:46+00:00,1491789494445432847,BioNTech vaccine only c. 35% effective against...,robblackie_oo
3,2022-02-10 02:09:44+00:00,1491595207472779264,"""The Times view on criticism of the Oxford-Ast...",DianaStevenson2
4,2022-02-09 21:14:27+00:00,1491520897563471879,@doctor_oxford If you have the time to give a ...,hskensington
...,...,...,...,...
685,2020-12-02 15:33:46+00:00,1334158826296258561,Oxford vaccine really needs to come onside as ...,Ch1Hudson
686,2020-12-02 12:15:55+00:00,1334109037105909761,#Pfizer #CovidVaccine #oxfordvaccine @UniofOxf...,aggala
687,2020-12-02 08:43:13+00:00,1334055508739829761,Just now pray Oxford vaccine comes quickly,Ch1Hudson
688,2020-12-02 08:38:26+00:00,1334054306966884353,@n_rh1992 Yeah hopefully. The Govt has already...,Chris_CPH
689,2020-12-01 10:36:47+00:00,1333721702572953600,"NEW: Scandal-hit ""Oxford"" Coronavirus vaccine ...",afshinrattansi

In [21]:
tweets_df.to_csv("../data/UK/oxford.csv", index = False)