snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [317]:
# Creating list to append tweet data to
tweets_list = []

# search terms
search_terms = 'livingwithcovid'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-04-07 until:2022-02-07 near:"Singapore" within:10km').get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Text'])

In [318]:
tweets_df

                                                Text
0  Rejoice, Rex, 22! With unvaccinated people not...
1  Bear with #LivingwithCovid measures: #Tahan, #...

In [316]:
tweets_df.to_csv("../data/sg/living_in_an_endemic/living_in_an_endemic_sg_living_with_covid.csv")