snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [3]:
# Creating list to append tweet data to
tweets_list = []

# search terms
search_terms = 'moderna'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-12-01 until:2022-02-11 near:"United States of America" within:1000km').get_items()):
    if i > 100000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Text'])

In [4]:
tweets_df

                                                    Text
0      Truth --- #Malone \n\nBaillie Gifford &amp; Co...
1      @pcrritesgood @6eustacia @JesseKellyDC I lost ...
2      Need your first shot?  A booster?  Come to Rub...
3      @NoorAli60402024 @kit10219512 @blane1122 We ha...
4      @JoyceWhiteVance Weekday does immunize mean he...
...                                                  ...
56332  @ABC Here is a short video about the Moderna C...
56333  @ABC @ABCNewsLive Here is a short video about ...
56334  @CNN Here is a short video about the Moderna C...
56335  @CNN Here is a short video about the Moderna C...
56336  @ABTudorQueen According to the CDC there are  ...

[56337 rows x 1 columns]

In [5]:
tweets_df.to_csv("../data/USA/usa_moderna.csv")

In [ ]:
# since:2020-02-15 until:2021-05-31 New USA 5000 USA usa

In [6]:
tweets_list = []

# search terms
search_terms = 'janssen'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-12-01 until:2022-02-11 near:"United States of America" within:1000km').get_items()):
    if i > 100000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Text'])

In [7]:
tweets_df

                                                   Text
0     One of my favourite things to do in this job i...
1     Happy to support a local small business with m...
2        @AlexCVassar @CAStateLibrary What a dream job!
3     @JuiceboxCA brand-centricity is the antithesis...
4                         Woah. https://t.co/9RQf0d9aw7
...                                                 ...
5089  Good milestone for Janssen‚Äôs vaccine candidate...
5090  Research teams at University of Kentucky, Bapt...
5091  üì£üÜï#Ô∏è‚É£Sesi√≥nMensual Diciembre\n@coleurolgto üá≤üáΩ ...
5092  @PattyArquette @donwinslow Correct! I am a vol...
5093  @ABTudorQueen According to the CDC there are  ...

[5094 rows x 1 columns]

In [8]:
tweets_df.to_csv("../data/USA/usa_janssen.csv")