snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [24]:
# Creating list to append tweet data to
tweets_list = []

# search terms
search_terms = '금융 패키지'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-01-01 until:2021-12-31 near:"Seoul" within:1000km').get_items()):
    if i > 20000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Text'])

In [25]:
tweets_df

Empty DataFrame
Columns: [Text]
Index: []

In [19]:
tweets_df.to_csv("../data/Korea/relief_daegu.csv")